*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    height: 100vh;
    width: 90vw;
   
}
.main{
    margin-top: 100px;
    height: 90%;
    width: 90%;
   
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    /* padding: 10px; */
    /* box-shadow: 0 20px 60px rgba(red, green, blue, 0.1); */
}
.inp{
 display: flex; 
     justify-content: center;
    align-items: center; 
}

input[type="text"]{
    
    
margin: 10px ;
padding: 10px;
 outline: none;
 padding-bottom: 10px;
text-align: center;
border-radius: 10px;
border: none;
background-color: rgb(42, 53, 57);
color: rgb(238, 238, 238);
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
    width: 200px;
    background-color: white;
    align-items: center;
position: relative;
overflow: hidden;
border: 1px solid white;
border-radius: 10px;


}
.image{
position: absolute;
background-position: center ;
height: 100%;
width: 100%;
z-index: 1;
}
.blurr{
    position: relative;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaWzWbZoYd97IWLH6qj2SULhVMA8CZ4v5ZQfpc_1MC0FP0uTYsYmB3YEg&s=10');
    z-index: 2;
    position: absolute;
    height: 100%;
    width: ;
}
.content{
    position:relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    padding: 5px;
    flex-wrap: wrap;
}
h3{
    color: white;

}
p{
    text-align: justify;
    color: rgb(226, 218, 218);
}
